/.vscode/
node_modules/

thumbs.db
*.log
*.logs
/build/

# .* - игнорировать все файлы начинающиеся с точки
# Исключает игнорирование файла gitignore
!.gitignore

# Все файлы с расширением .html
# docs/*.html

# Игнорировать все папки cache в люой корневой папке, а в ней в папке app
# **/app/cache