{
  //"useTabs": false,          // использовать табы? нет (я за пробелы)
  //"tabWidth": 2,             // длина "таба" - 2 пробела
  "printWidth": 140,           // длина строки - 80  
  "singleQuote": true,         // использовать одинарные кавычки - да!
  "trailingComma": "es6",      // запятая в последней строке - да
  "jsxBracketSameLine": false, // закрывающийся jsx в этой же строке
  "parser": "flow",            // парсер - flow (пока не важно)
  "semi": false                // точка с запятой - нет
}
